{% extends "base.html" %}
{% load url from future %}

{% block meta_title %} Balance Sheet Summary {% endblock meta_title %}
{% block h1_header %} Balance Sheet Summary {% endblock h1_header %}

{% block body %}
    <table>
        <tr>
            <td>Available Cash: ${{ avail_cash }}</td>
        </tr>
        <tr>
            <td>Short Term Savings: ${{ short_term_saving }}</td>
        </tr>
        <tr>
            <td>Long Term Saving: ${{ long_term_saving }}</td>
        </tr>
        <tr>
            <td>Debt: ${{ debt }}</td>
        </tr>
    </table>
    <br />
    <div>Data as of: {{ end_date|date:"F d, Y" }}</div>
{% endblock body %}