	<header>
		<nav id='nav_menu' class="navbar">
    	    <a id='logo' class="brand" title='homepage' href='/'>Logo</a>
    		<ul class="nav">
    			<li><a href='/spending/categories'>Categories</a></li>
    			<li><a href='/spending/history'>Transactions</a></li>
    			<li><input name="transactionHistoryUpload" type="file" />Upload Transaction History</li>
    			<li><button class="modalInput" rel="#modTesting">Modal Testing</button></li>
    		</ul>
    	</nav>
        <div class="modal" id="modTesting"> <h2>This is my test text</h2></div>
	</header>