	<header>
		<nav id='nav_menu' class="navbar">
    	    <a id='logo' class="brand" title='homepage' href='/'>Logo</a>
    		<ul class="nav">
    			<li><a href='/account'>Accounts</a></li>
                <li><a href='/spending/categories'>Categories</a></li>
                <li><a href='/spending/history'>Transactions</a></li>
    			<li>
    			    <button class="modalInput" rel="#txnUploadForm">Upload Transaction History</button>
    			    <div class="modal" id="txnUploadForm">{% include "transactionUploadForm.html" %}</div>
    			</li>
    		</ul>
    	</nav>
	</header>