{% extends "base.html" %}
{% load url from future %}

{% block title %} Heydollar Transaction History {% endblock title %}
{% block page_description %} Personal Finance management transaction history {% endblock page_description %}

{% block h1_header %}Transaction History{% endblock h1_header %}
{% block body %}
    <table>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
        </tr>
        {% for transaction in object_list %}
        <tr>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.description }}</td>
            <td>{{ transaction.amount }}</td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
{% endblock body %}
