*.pyc
*.pyo
.project
.pydevproject
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info

# Personal Configuration values for Eric. Find copies in Google Drive
config/account_owner.py
