{% if request.GET.account_name %}
<div class='alert'>
    Please create the account for: "{{ request.GET.account_name }}"
</div>
{% endif %}
<form action="/account/add" method="post">{% csrf_token %}
    {{ form.mapped_name.label_tag }} {{ form.mapped_name }}
    {{ form.description.label_tag }} {{ form.description }}
    {{ form.institution.label_tag }} {{ form.institution }}
    {{ form.type.label_tag }} {{ form.type }}
    {{ form.debit_sign.label_tag }} {{ form.debit_sign }}
    {{ form.owner.label_tag }} {{ form.owner }}
    <input type="submit" value="Submit" />
</form>
